name: Build and Deploy to DockerHub and Server

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v2

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build the Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/myapp:latest .

    - name: Push Docker image to DockerHub
      run: docker push ${{ secrets.DOCKER_USERNAME }}/myapp:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: SSH to server and deploy container
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: 201.23.3.86
        username: aluno
        key: ${{ secrets.SERVER_SSH_KEY }}
        envs: DOCKER_IMAGE=${{ secrets.DOCKER_USERNAME }}/myapp:latest, PORT=8094
        script: |
          docker pull $DOCKER_IMAGE
          docker stop myapp || true
          docker rm myapp || true
          docker run -d -p $PORT:3000 --name myapp $DOCKER_IMAGE
        
